POSTGRES_USER=microservice-app
POSTGRES_PASSWORD=microservice-app
POSTGRES_DB=microservice-app
POSTGRES_PORT=5433
DATABASE_URL=postgresql://microservice-app:microservice-app@localhost:5433/microservice-app
CATALOGUE_PORT=4001
ORDERS_PORT=4002
CATALOGUE_BASE_URL=http://localhost:4001
FRONTEND_PORT=5173
